.header-text{
	font-size: 50px;
	padding:40px 0;
	font-family:OpenSans, Arial;
}
.title{
	font-weight: bold;
	font-size:18px;
	margin-bottom:0px;
	text-align: center;
}
.description{
	font-size:12px;
	margin-top:0px;
	text-align: center
}